{% extends "admin/change_list.html" %}

{% block content_title %}
    <span class="navbar-brand">Agenda Planner </span>
{% endblock %}

{% block result_list %}
    {% load fullcalendar_tags %}

    {% fullcalendar_css %}
    {% fullcalendar_print_css %}
    {% fullcalendar_jquery %}
    {% fullcalendar_jquery_ui %}
    {% fullcalendar_javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/it.js"></script>

    <script>
    $(document).ready(function() {
            $('#calendar').fullCalendar({
              header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
              },
              defaultView: 'agendaWeek',
              editable: false,
              eventLimit: false,
              events: "/eventjson",
              // events: [
              //       // {% for i in events %}
              //       {
              //           title: "{{ title }}",
              //           start: "{{ start }}",
              //           end: "{{ end }}",
              //           allDay: false,
              //       },
              //     // {% endfor %}
              //
              //   ],
              timeFormat: 'H(:mm)', // uppercase H for 24-hour clock
              eventColor: '#337ab7',
              locale: 'it',
            });
        });
    </script>
    {% calendar %}

{% endblock %}

{% block pagination %}{% endblock %}
