{% extends "admin/change_list.html" %}

{% block content_title %}
    <span class="navbar-brand">Agenda Planner </span>
{% endblock %}

{% block result_list %}
    {% load fullcalendar_tags %}

    {% fullcalendar_css %}
    {% fullcalendar_print_css %}
    {% fullcalendar_jquery %}
    {% fullcalendar_jquery_ui %}
    {% fullcalendar_javascript %}



    <script>
    $(document).ready(function() {
            $('#calendar').fullCalendar({
              header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
              },
              defaultView: 'month',
              editable: true,
              eventLimit: true,
              events: [
                    {% for i in eventlist %}
                    {
                        title: "{{ i.eventTitle}}",
                        start: '{{ i.eventStart|date:"Y-m-d" }}',
                        end: '{{ i.eventEnd|date:"Y-m-d" }}',
                    },
                    {% endfor %}

                ]
            });
        });
    </script>
    {% calendar %}

{% endblock %}

{% block pagination %}{% endblock %}
