{% extends "admin/change_list.html" %}

{% block content_title %}
    <span class="navbar-brand">Agenda Planner </span>
{% endblock %}

{% block result_list %}
    {% load fullcalendar_tags %}

    <!DOCTYPE html>
    <head>

        <title></title>

        {% fullcalendar_css %}
        {% fullcalendar_print_css %}
        {% fullcalendar_jquery %}
        {% fullcalendar_jquery_ui %}
        {% fullcalendar_javascript %}


    </head>
    {% calendar %}

{% endblock %}

{% block pagination %}{% endblock %}
