{% extends "admin/change_list.html" %}
# gestimunus/templates/admin/cash_summary_change_list.html

{% load mathfilters %}

{% block content_title %}
    <span class="navbar-brand">Cash Summary </span>

    <!-- <h1> Sales Summary </h1> -->
{% endblock %}

{% block result_list %}
    <!-- Our content goes here… -->
    <span><u>Data Range</u>:
      <em>From</em> <b> {% with summary|last as last %} {{ last.operation_date }} {% endwith %} |</b>
      <em>To</em> <b>{{ summary.0.operation_date }}</b> </span>
    <p>.</p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Service Cash Desk</th>
          <th scope="col">Sum Cash Movements</th>
        </tr>
      </thead>
      <tbody>
        {{summary_entry}}
        {{summary_exit}}
        {% for row in summary_cd %}
              <tr>
                <th scope="row">{{ row.cashdesk__centercost }}</th>
                <td width="30%">{{ row.cashdesk__cashdesk }}</td>
                <td>{{ 0 | sub:row.sum }} €</td>
              </tr>
        {% endfor %}
        <!-- <tr style=”font-weight:bold; border-top:2px solid #DDDDDD;”>
          <td> Total </td>
          <td> {{ summary_sum.total }} </td>
          <td> {{ summary_sum.total_sales | default:0 }}$ </td>
          <td> 100% </td>
        </tr> -->
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr> -->
      </tbody>
    </table>

    <!-- {% for sumcm in sumcms %} -->
    <!-- {% endfor %} -->
<!-- from howto!!! -->
    <!-- <div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Category</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Sales</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Sales</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.sale__category__name }} </td>
        <td> {{ row.total }} </td>
        <td> {{ row.total_sales | default:0 }}$ </td>
        <td>
          <strong>
          {{ row.total_sales |
              default:0 |
              percentof:summary_total.total_sales }}
          </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div> -->

{% endblock %}

{% block pagination %}{% endblock %}
