{% extends "admin/change_list.html" %}
# sales/templates/admin/sale_summary_change_list.html


{% block content_title %}
    <span class="navbar-brand">Cash Summary </span>

    <!-- <h1> Sales Summary </h1> -->
{% endblock %}

{% block result_list %}
    <!-- Our content goes here… -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Service Cash Desk</th>
          <th scope="col">Cash Opening</th>
          <th scope="col">Cash Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for row in summary %}
        <tr>
          <th scope="row">{{ row.cashdesk }}</th>
          <td width="30%">{{ row.cashdesk.name }}</td>
          <td>{{ row.total }}</td>
          <td>@mdo</td>
        </tr>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr> -->
        {% endfor %}
      </tbody>
    </table>

<!-- from howto!!! -->
    <!-- <div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Category</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Sales</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Sales</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.sale__category__name }} </td>
        <td> {{ row.total }} </td>
        <td> {{ row.total_sales | default:0 }}$ </td>
        <td>
          <strong>
          {{ row.total_sales |
              default:0 |
              percentof:summary_total.total_sales }}
          </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div> -->

{% endblock %}

{% block pagination %}{% endblock %}
