{% extends "admin/change_list.html" %}
# gestimunus/templates/admin/cash_summary_change_list.html

{% load mathfilters %}

{% block content_title %}
    <span class="navbar-brand">Cash Summary </span>
    <script>
    var totalsIn = [0, 0, 0, 0, 0];
    var totalsOut = [0, 0, 0, 0, 0];
    $(document).ready(function() {

        var $dataRows = $(".table tr:not('.row, .title')");
        console.log($dataRows)

        $dataRows.each(function(i) {
            $(this).find(".cashin").each(function(j) {
                totalsIn[j] += parseFloat($(this).html());
            });
        });

        $(".table td.sumin").each(function(i) {
            $(this).html(totalsIn[i].toFixed(2) + " €");
        });

        $dataRows.each(function(i) {
            $(this).find(".cashout").each(function(j) {
                totalsOut[j] += parseFloat($(this).html());
            });
        });

        $(".table td.sumout").each(function(i) {
            $(this).html(totalsOut[i].toFixed(2) + " €");
        });

        $(".table th.cashbalance").each(function(i) {
            $(this).html(totalsIn[i] + totalsOut[i] + " €");
        });

    });
    </script>
{% endblock %}

{% block result_list %}
    <!-- Our content goes here… -->
    <span><u>Data Range</u>:
      <em>From</em> <b> {% with summary|last as last %} {{ last.operation_date }} {% endwith %} |</b>
      <em>To</em> <b>{{ summary.0.operation_date }}</b> </span>
    <p>.</p>

    <h3><strong>CASH IN</strong></h3>
    <table class="table">
      <thead>
        <tr class="title">
          <th scope="col">ID</th>
          <th scope="col">Service Cash Desk</th>
          <th scope="col">Sum IN</th>
        </tr>
      </thead>
      <tbody>
        <!-- {{summary_cd}} -->
        {% for cashin in summary_cd %}
          {% if cashin.causal_id__in_out == 1 %}
            <tr class="{{cashin.cashdesk__centercost}}">
              <th scope="row">{{ cashin.cashdesk__centercost }}</th>
              <td width="40%">{{ cashin.cashdesk__cashdesk }}</td>
              <td class="cashin">{{ cashin.sum }} €</td>
            </tr>
          {% endif %}
        {% endfor %}
        <tr style="color:#228b22">
          <td></td>
          <th> TOTAL </th>
          <td class="sumin"></td>
        </tr>
      </tbody>
    </table>

    <h3><strong>CASH OUT</strong></h3>
    <table class="table">
      <thead>
        <tr class="title">
          <th scope="col">ID</th>
          <th scope="col">Service Cash Desk</th>
          <th scope="col">Sum OUT</th>
        </tr>
      </thead>
      <tbody>
        <!-- {{summary_cd}} -->
        {% for cashout in summary_cd %}
              <tr class="{{cashout.cashdesk__centercost}}">
                {% if cashout.causal_id__in_out == 2 %}
                <th scope="row">{{ cashout.cashdesk__centercost }}</th>
                <td width="40%">{{ cashout.cashdesk__cashdesk }}</td>
                <td class="cashout">{{ 0| sub:cashout.sum }} €</td>
                {% endif %}
              </tr>
        {% endfor %}
        <tr style="color:#ff0000">
          <td></td>
          <th> TOTAL </th>
          <td class="sumout"></td>
        </tr>
      </tbody>
    </table>

    <h3><strong>CASH BALANCE</strong></h3>
    <table class="table">
      <thead>
        <tr class="title">
          <th></th>
          <th width="58%"></th>
          <th>TOTAL BALANCE</th>
        </tr>
      </thead>
      <tbody>
        <tr style="color:#0000ff">
          <td></td>
          <td></td>
          <th class="cashbalance"></th>
        </tr>
      </tbody>
    </table>

{% endblock %}

{% block pagination %}{% endblock %}
